
body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/aldrich.png');
    background-size: cover;
    background-position: center;
  }

.login-container {
    width: 400px;
    height: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

.login-container form label {
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

button {
    padding: 10px;
    border-radius: 20px;
    background-color: lavender;  
}

a {
    color: rgb(63, 63, 219);
    text-decoration: underline;
}

.login-container p {
    text-align: center;
}